@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* font-family: "Poppins", sans-serif; */

/* Variables globales */

:root {
  --primary-bg-color: #7A163C;
  --secondary-bg-color: #D9D9D9;
}

/* Reseteo de estilos */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos Globales */

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.75rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: 1.75rem;
  margin: 0 10px 0 10px;
}

/* Header */

.header {
  background-color: var(--primary-bg-color);
}

.container {
  width: min(90%, 90rem);
  margin: 0 auto;
}

.header__container {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  gap: 4rem;
}

.header__container a,
.header__container i {
  color: #FFFFFF;
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo i {
  display: none;
  margin-right: 1.25rem;
}

.header__logo h1 {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.header__nav ul {
  display: flex;
  align-items: center;
  gap: 1.875rem;
}

.header__nav a {
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.header__nav a:hover {
  border-bottom: 2px solid #FFFFFF;
}

.header__nav a:hover i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.header__nav a i {
  margin-left: 0.5rem;
}

.header-rigth {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1.5625rem;
  width: 35%;
}

.header__search {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  height: 2.5rem;
  flex-grow: 1;
  max-width: 21.875rem;
  min-width: 12.5rem;
  background-color: #FFFFFF;
}

.header__search i {
  color: #747474;
  margin-right: 5px;
}

.header__search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: .875rem;
}

.header__search:focus-within {
  border: 2px solid black;/
}

.header__icons {
  display: flex;
  align-content: center;
}

.header__icons i {
  transition: transform 0.3s;
}

.header__icons i:hover {
  transform: scale(1.1);
}

.header__icons a:nth-child(1) {
  display: none;
}

@media (max-width: 1240px) {

  .header__search {
    display: none;
  }

  .header__icons a:nth-child(1) {
    display: inline;
  }

  .header-rigth {
    width: auto;
  }

  .header__container {
    height: 4.6875rem;
  }
}

@media (max-width: 992px) {

  body {
    font-size: .875rem;
  }

  h1 {
    font-size: 2.25rem;
  }

  .icon {
    font-size: 1.5rem;
  }

  .header__nav ul {
    gap: .9375rem;
  }

  .header__container {
    gap: 1.875rem;
  }
}

@media (max-width: 830px) {
  .header__nav {
    display: none;
  }

  .header__logo i {
    display: inline;
  }
}

@media (max-width: 576px) {
  body {
    font-size: .875rem;
  }

  h1 {
    font-size: 1.875rem;
  }

  .icon {
    font-size: 1.5rem;
  }

  .header__container {
    height: 4.0625rem;
  }
}

/* main home */
.home {
  min-height: 82vh;
  margin: 1.25rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  gap: 1.875rem 0px;
  text-align: center;
}


/* Carousel */

.carousel {
  width: 100%;
  height: 494px;
  background: url(../img/slideshow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 25% repeat(2, 1fr);
  grid-template-rows: 15% 25% 30% 15% 15%;
  padding: 0 20px 0 20px;
}

.carousel__title {
  display: block;
  grid-area: 2 / 1 / 3 / 2;
  font-size: 1.875rem;
  text-align: left;
}

.carousel__btn {
  display: block;
  grid-area: 4 / 1 / 5 / 2;
  border: 3px solid black;
  background-color: transparent;
  padding: 10px 40px;
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  align-self: center;
  justify-self: center;
  color: #000000;
}

.carousel__btn:hover {
  background-color: white;
}

@media (max-width:1044px) {
  .carousel__title {
    font-size: 1.5625rem;
    text-align: center;
  }
}

@media (max-width:830px) {
  .carousel__title {
    font-size: 1.5625rem;
    grid-area: 1 / 1 / 2 / 4;
    align-self: center;
  }

  .carousel__btn {
    grid-area: 4 / 1 / 6 / 5;
    font-size: 16px;
    padding: 8px 35px;
  }

  .carousel {
    height: 454px;
    grid-template-rows: 25% 15% 30% 15% 15%;
  }
}

@media (max-width:480px) {
  .carousel__btn {
    font-size: 12px;
    padding: 5px 25px;
  }

  .carousel {
    height: 394px;
  }
}

/*  Featured product*/

.featured-products {
  display: grid;
  grid-template-rows: repeat(2, auto);
  gap: 1.25rem;
  font-size: 1.125rem;
  padding: 1.25rem 0;
}

.featured-products a {
  display: block;
  color: #000000;
}

.featured-products a:hover {
  text-decoration: underline;
  font-weight: 700;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: .9375rem;
}

.product-image {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.card span {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width:1044px) {
  .featured-products h2 {
    font-size: 1.5rem;
  }

  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width:830px) {
  .featured-products h2 {
    font-size: 1.5625rem;
  }

  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-image {
    width: 190px;
  }

  .card span {
    font-size: 1.125rem;
  }
}

@media (max-width:576px) {
  .featured-products h2 {
    font-size: 1.375rem;
  }

  .featured-products {
    font-size: .75rem;
  }

  .product-image {
    width: 140px;
  }

  .card span {
    font-size: 1rem;
  }
}

/* Featured categories */

.featured-categories {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: var(--secondary-bg-color);
  padding: 2.1875rem;
}

.featured-categories__content {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
}

.featured-categories__card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
}

.featured-categories .pic1 {
  background: url(../img/category-pic1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-categories .pic2 {
  background: url(../img/category-pic2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-categories .pic3 {
  background: url(../img/category-pic3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-categories .pic4 {
  background: url(../img/category-pic4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-categories__content a{
  font-size: 1.125rem;
  color:#FFFFFF
}

@media (max-width:1272px) {
  .featured-categories__card {
    width: 14.375rem;
    height: 14.375rem;
  }
}

@media (max-width:640px) {
  .featured-categories__card {
    width: 13.125rem;
    height: 13.125rem;
  }
  .featured-categories__title h2 {
    font-size: 1.375rem;
  }
}

@media (max-width:580px) {
  .featured-categories__card {
    width: 9.375rem;
    height: 9.375rem;
  }  
}

@media (max-width:480px) {
  .featured-categories__card {
    width: 7.5rem;
    height: 7.5rem;
  }  

  .featured-categories__card h4 {  
      font-size: 1rem;
    }
    
  }




/* Featured brands */

.brands {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem;
}

.brand__card {
  display: block;
  padding: 1.25rem;
  background-color: #f2f2f2;
  border-radius: 10px;
}

.brand__card img {
  width: 11.25rem;
  height: 6.25rem;
  object-fit: contain;
}

.brand__card img:hover {
  transform: scale(1.1);
}

@media (max-width:1330px) {
  .cards {
    justify-content: center;
    column-gap: 3.125rem;
  }
}


@media (max-width:640px) {
  .cards {
    column-gap: 1.25rem;
  }
  .brand__card img {
    width: 10rem;
    height: 5rem;
  }

  .brands__title h2 {
    font-size: 1.375rem;
  }
}

@media (max-width:480px) {

  .brand__card {
    padding: .625rem;
  }

  .brand__card img {
    width: 7.5rem;
    height: 3.125rem;
  }
}

/* Locations */
.locations {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-areas: "text map";
  column-gap: 3.125rem;
  align-items: start;

}

.locations__title,
.locations__info {
  padding-bottom: 1.875rem;
}

.locations__info {
  text-align: justify;
}

.locations__text {
  grid-area: text;

}

.locations__map {
  grid-area: map;
  justify-self: center;
  width: 100%;
  max-height: 100%;
}

@media (max-width:1000px) {
  .locations {
    grid-template-columns: 100%;
    grid-template-areas: "text"
      "map";
  }

  .locations__text {
    padding-bottom: 2%;
  }

  .locations__title {
    text-align: center;
  }

  .locations__map {
    padding: 1.875rem;
    max-height: 25rem;
  }

  .locations {
    padding: 4.375rem 0;
  }
}

@media (max-width: 576px) {
  .locations__title {
    font-size: 1.25rem;
  }

  .locations__info {
    font-size: .75rem;
  }

  .locations__map {
    max-height: 15.625rem;
  }

}

/* Contact */
.contact {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-areas: "contact form";
  column-gap: 3.125rem;
  align-items: start;
}

.contact__title,
.contact__info {
  padding-bottom: 1.875rem;
}

.contact__info {
  text-align: justify;
}

.contact__text {
  grid-area: contact;

}

.contact__form {
  grid-area: form;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact__form fieldset {
  border: none;
}

.contact__form div {
  margin-bottom: 15px;
}

.contact__form label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form textarea {
  width: 100%;
  padding: .75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.contact__form input[type="text"]:focus,
.contact__form input[type="email"]:focus,
.contact__form textarea:focus {
  border-color: #000000;
  outline: none;
}

.contact__form button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #000000;
  border: none;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact__form button[type="submit"]:hover {
  background-color: #3c3c3c;
}

@media (max-width:1000px) {
  .contact {
    grid-template-columns: 100%;
    grid-template-areas: "contact"
      "form";
  }

  .contact__text {
    padding-bottom: 2%;
  }

  .contact__title {
    text-align: center;
  }

}

/* about us */

.about {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-areas: "about image";
  column-gap: 3.125rem;
  align-items: start;

}

.about__title,
.about__info {
  padding-bottom: 1.875rem;
}

.about__info {
  text-align: justify;
}

.about__text {
  grid-area: about;
}

.about__image img {
  grid-area: image;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media (max-width:1000px) {
  .about {
    grid-template-columns: 100%;
    grid-template-areas: "about"
      "image";
  }

  .about__text {
    padding-bottom: 2%;
  }

  .about__title {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .about__title {
    font-size: 1.25rem;
  }

  .about__info {
    font-size: .75rem;
  }

}

/* products */

.products {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.25rem 1.875rem;
  justify-items: center;
}

.products__title {
  grid-column: 1 / span 4;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  padding: .9375rem;
  border: 1px solid #FFFFFF;
  text-align: center;
}

.product__btn {
  padding: .3125rem .625rem;
  border: 2px solid #000000;
  border-radius: 7px;
}

.product__btn:link {
  color: #000000;
}

.product__btn:visited {
  color: #000000;
}

.product__btn:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.product__description:link {
  color: #000000;
}

.product__description:visited {
  color: #000000;
}

.product__description:hover {
  font-weight: 700;
  color: #000000;
  text-decoration: underline;
}

.card:hover {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width:1130px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .products__title {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
  }
}

@media (max-width:780px) {
  .products {
    grid-template-columns: repeat(2, 1fr);
  }

  .products__title {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
  }
}

/* Footer  */

.footer {
  background-color: var(--primary-bg-color);
  height: 8vh;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__text {
  display: block;
}