@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* font-family: "Poppins", sans-serif; */
/* Reseteo de estilos */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Estilos Globales */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  font-weight: 700;
  line-height: 1.5;
}

h4 {
  font-weight: 500;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.icon {
  font-size: 1.75rem;
  margin: 0 0.625rem 0 0.625rem;
}

/* header */
header {
  background-color: #7A163C;
}
header .custom__container {
  width: min(90%, 90rem);
  margin: 0 auto;
}
header .header__container {
  min-height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  padding: 1.125rem 0;
}
header .header__container a,
header .header__container i {
  color: #FFFFFF;
}
header .header__container .header-left {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 4rem;
}
header .header__container .header-left .header__icon-button i {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__container .header-left .header__logo {
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
header .header__container .header-left .header__logo h1 {
  padding: 0;
  margin: 0;
}
header .header__container .header-left .header__nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0 1.25rem 0 0;
}
header .header__container .header-left .header__nav ul li a {
  display: flex;
  align-items: center;
  padding: 0.5rem;
}
header .header__container .header-left .header__nav ul li a i {
  margin-left: 0.5rem;
}
header .header__container .header-left .header__nav ul li a:hover {
  border-bottom: 2px solid #FFFFFF;
}
header .header__container .header-left .header__nav ul li a:hover i {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
header .header__container .header-right {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: end;
  align-items: center;
  align-content: center;
  gap: 1.5625rem;
  width: 35%;
}
header .header__container .header-right .header__search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 0 10px;
  height: 2.5rem;
  flex-grow: 1;
  max-width: 21.875rem;
  min-width: 12.5rem;
  background-color: #FFFFFF;
}
header .header__container .header-right .header__search i {
  color: #747474;
  margin-right: 0.3125rem;
}
header .header__container .header-right .header__search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 0.875rem;
}
header .header__container .header-right .header__search:focus-within {
  border: 2px solid #000000;
}
header .header__container .header-right .header__icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header__container .header-right .header__icons a:nth-child(1) {
  display: none;
}
header .header__container .header-right .header__icons a i {
  transition: transform 0.3s;
}
header .header__container .header-right .header__icons a i:hover {
  transform: scale(1.1);
}

@media (max-width: 1200px) {
  header .header__container .header-right .header__search {
    display: none;
  }
  header .header__container .header-right .header__icons a:nth-child(1) {
    display: inline;
  }
}
@media (max-width: 991px) {
  body {
    font-size: 0.875rem;
  }
  h1 {
    font-size: 2.25rem;
  }
  header .header__container {
    align-items: start;
  }
  header .header__container .header-left {
    justify-content: start;
    align-content: center;
    align-items: center;
    gap: 0 0.625rem;
  }
  header .header__container .header-left .header__nav ul {
    align-items: start;
    padding: 1.25rem 0;
    gap: 0.3125rem;
  }
  header .header__container .header-right .header__icons {
    margin-top: 0.375rem;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 0.875rem;
  }
  .header .header__container {
    padding: 1rem 0;
  }
}
@media (max-width: 576px) {
  h1 {
    font-size: 1.75rem;
  }
  .header .header__container {
    padding: 0.875rem 0;
  }
  .header .header__container .header-right i {
    font-size: 1.375rem;
  }
}
/* footer */
.footer {
  background-color: #7A163C;
  height: 8vh;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer p {
  padding: 0;
  margin: 0;
}

/* Index home */
.custom__container {
  width: min(90%, 90rem);
  margin: 0 auto;
}
.custom__container .home {
  min-height: 82vh;
  margin: 1.25rem 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(4, auto);
  gap: 1.875rem 0;
  text-align: center;
}
.custom__container .home .carousel {
  width: 100%;
  height: 30.875rem;
  background: url(../img/slideshow.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 25% repeat(2, 1fr);
  grid-template-rows: 15% 25% 30% 15% 15%;
  gap: 0 1.25rem;
  padding: 0 1.25rem;
}
.custom__container .home .carousel .carousel__title {
  display: block;
  grid-area: 2/1/3/2;
  font-size: 1.875rem;
  text-align: left;
}
.custom__container .home .carousel .carousel__btn {
  display: block;
  grid-area: 4/1/5/2;
  border: 3px solid #000000;
  background-color: transparent;
  padding: 0.625rem 2.5rem;
  border-radius: 10px;
  font-size: 1.125rem;
  font-weight: 700;
  align-self: center;
  justify-self: center;
  color: #000000;
}
.custom__container .home .carousel .carousel__btn:hover {
  background-color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 1044px) {
  .custom__container .home .carousel .carousel__title {
    font-size: 1.5625rem;
    text-align: center;
  }
}
@media (max-width: 830px) {
  .custom__container .home .carousel {
    height: 28.375rem;
    grid-template-rows: 25% 15% 30% 15% 15%;
  }
  .custom__container .home .carousel .carousel__title {
    font-size: 1.4375rem;
    grid-area: 1/1/2/4;
    align-self: center;
  }
  .custom__container .home .carousel .carousel__btn {
    grid-area: 4/1/6/5;
    font-size: 1rem;
    padding: 0.5rem 2.1875rem;
  }
}
@media (max-width: 480px) {
  .custom__container .home .carousel {
    height: 24.625rem;
  }
  .custom__container .home .carousel .carousel__btn {
    font-size: 0.75rem;
    padding: 0.3125rem 1.5625rem;
  }
}
/* featured products */
.custom__container .home .featured-products {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: repeat(2, auto);
  gap: 1.25rem;
  font-size: 1.125rem;
  padding: 1.25rem 0;
}
.custom__container .home .featured-products .card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  gap: 0.9375rem;
}
.custom__container .home .featured-products .card-grid .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 0.625rem;
  padding: 0.9375rem;
  border: 1px solid #FFFFFF;
  text-align: center;
}
.custom__container .home .featured-products .card-grid .card:hover {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.custom__container .home .featured-products .card-grid .card .product__image img {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.custom__container .home .featured-products .card-grid .card .product__description {
  display: block;
  color: #000000;
}
.custom__container .home .featured-products .card-grid .card .product__description:hover {
  text-decoration: underline;
  font-weight: 700;
}
.custom__container .home .featured-products .card-grid .card span {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (max-width: 1044px) {
  .custom__container .home .featured-products h2 {
    font-size: 1.5625rem;
  }
  .custom__container .home .featured-products .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 830px) {
  .custom__container .home .featured-products h2 {
    font-size: 1.5rem;
  }
  .custom__container .home .featured-products .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .custom__container .home .featured-products .card-grid .card .product-image img {
    width: 190px;
  }
  .custom__container .home .featured-products .card-grid .card span {
    font-size: 1.125rem;
  }
}
@media (max-width: 576px) {
  .custom__container .home .featured-products {
    font-size: 0.75rem;
  }
  .custom__container .home .featured-products h2 {
    font-size: 1.375rem;
  }
  .custom__container .home .featured-products .card-grid .card .product-image img {
    width: 140px;
  }
  .custom__container .home .featured-products .card-grid .card span {
    font-size: 1rem;
  }
}
/* Featured categories */
.custom__container .home .featured-categories {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  background-color: #D9D9D9;
  padding: 2.1875rem;
}
.custom__container .home .featured-categories .featured-categories__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  gap: 1.25rem;
}
.custom__container .home .featured-categories .featured-categories__content a {
  font-size: 1.125rem;
  color: #FFFFFF;
}
.custom__container .home .featured-categories .featured-categories__content .featured-categories__card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15.625rem;
  height: 15.625rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.custom__container .home .featured-categories .featured-categories__content .pic1 {
  background-image: url(../img/category-pic1.jpg);
}
.custom__container .home .featured-categories .featured-categories__content .pic2 {
  background-image: url(../img/category-pic2.jpg);
}
.custom__container .home .featured-categories .featured-categories__content .pic3 {
  background-image: url(../img/category-pic3.png);
}
.custom__container .home .featured-categories .featured-categories__content .pic4 {
  background-image: url(../img/category-pic4.jpg);
}

@media (max-width: 1272px) {
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card {
    width: 14.375rem;
    height: 14.375rem;
  }
}
@media (max-width: 640px) {
  .custom__container .home .featured-categories .featured-categories__title h2 {
    font-size: 1.375rem;
  }
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card {
    width: 13.125rem;
    height: 13.125rem;
  }
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card a h4 {
    font-size: 1.25rem;
  }
}
@media (max-width: 580px) {
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card {
    width: 9.375rem;
    height: 9.375rem;
  }
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card a h4 {
    font-size: 1.125rem;
  }
}
@media (max-width: 480px) {
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card {
    width: 7.5rem;
    height: 7.5rem;
  }
  .custom__container .home .featured-categories .featured-categories__content .featured-categories__card a h4 {
    font-size: 1rem;
  }
}
/* featured brands */
.custom__container .home .brands {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.custom__container .home .brands .brands__logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  gap: 1.25rem;
}
.custom__container .home .brands .brands__logo a {
  display: block;
  padding: 1.25rem;
  background-color: #F2F2F2;
  border-radius: 10px;
}
.custom__container .home .brands .brands__logo a img {
  width: 11.25rem;
  height: 6.25rem;
  object-fit: contain;
}
.custom__container .home .brands .brands__logo a img:hover {
  transform: scale(1.1);
}

@media (max-width: 1330px) {
  .custom__container .home .brands .brands__logo {
    justify-content: center;
    column-gap: 3.125rem;
  }
}
@media (max-width: 640px) {
  .custom__container .home .brands .brands__title {
    font-size: 1.375rem;
  }
  .custom__container .home .brands .brands__logo {
    justify-content: center;
    column-gap: 1.25rem;
  }
  .custom__container .home .brands .brands__logo a img {
    width: 10rem;
    height: 5rem;
  }
}
@media (max-width: 480px) {
  .custom__container .home .brands .brands__logo a {
    padding: 0.625rem;
  }
  .custom__container .home .brands .brands__logo a img {
    width: 7.5rem;
    height: 3.125rem;
  }
}
/* locations */
.custom__container .locations {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-rows: none;
  grid-template-areas: "text map";
  align-items: start;
  gap: 0 3.125rem;
}
.custom__container .locations .locations__text, .custom__container .locations .locations__text .locations__info {
  grid-area: text;
}
.custom__container .locations .locations__text .locations__title {
  padding-bottom: 1.875rem;
}
.custom__container .locations .locations__text .locations__info {
  text-align: justify;
}
.custom__container .locations .locations__map {
  grid-area: map;
  justify-self: center;
  width: 100%;
  max-height: 100%;
}

@media (max-width: 1000px) {
  .custom__container .locations {
    padding: 4.375rem 0;
    grid-template-columns: 100%;
    grid-template-areas: "text" "map";
  }
  .custom__container .locations .locations__text, .custom__container .locations .locations__text .locations__info {
    padding-bottom: 2%;
  }
  .custom__container .locations .locations__text .locations__title {
    text-align: center;
  }
  .custom__container .locations .locations__map {
    padding: 1.875rem;
    max-height: 25rem;
  }
}
@media (max-width: 576px) {
  .custom__container .locations .locations__text .locations__title {
    font-size: 1.25rem;
  }
  .custom__container .locations .locations__text .locations__info {
    font-size: 0.75rem;
  }
  .locations__map {
    max-height: 15.625rem;
  }
}
/* contact */
.custom__container .contact {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-rows: none;
  grid-template-areas: "contact form";
  align-items: start;
  gap: 0 3.125rem;
}
.custom__container .contact .contact__text {
  grid-area: contact;
}
.custom__container .contact .contact__text .contact__title, .custom__container .contact .contact__text .contact__info {
  padding-bottom: 1.875rem;
}
.custom__container .contact .contact__text .contact__info {
  text-align: justify;
}
.custom__container .contact .contact__form {
  grid-area: form;
  justify-self: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.25rem;
  background-color: #F2F2F2;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.custom__container .contact .contact__form fieldset {
  border: none;
}
.custom__container .contact .contact__form fieldset div {
  margin-bottom: 0.9375rem;
}
.custom__container .contact .contact__form fieldset div label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #3c3c3c;
}
.custom__container .contact .contact__form fieldset div .field {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #FFFFFF;
  transition: border-color 0.3s ease;
}
.custom__container .contact .contact__form fieldset div .field:focus {
  border-color: #000000;
  outline: none;
}
.custom__container .contact .contact__form fieldset div button {
  width: 100%;
  padding: 0.75rem;
  background-color: #000000;
  border: none;
  border-radius: 7px;
  color: #FFFFFF;
  font-size: 1.125rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.custom__container .contact .contact__form fieldset div button:hover {
  background-color: #3c3c3c;
}

@media (max-width: 1000px) {
  .custom__container .contact {
    grid-template-columns: 100%;
    grid-template-areas: "contact" "form";
  }
  .custom__container .contact .contact__text {
    padding-bottom: 2%;
  }
  .custom__container .contact .contact__text .contact__title, .custom__container .contact .contact__text .contact__info {
    text-align: center;
  }
}
/* about us */
.custom__container .about {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: 1fr 60%;
  grid-template-rows: none;
  grid-template-areas: "about image";
  align-items: start;
  gap: 0 3.125rem;
}
.custom__container .about .about__text {
  grid-area: about;
}
.custom__container .about .about__text .about__title, .custom__container .about .about__text .about__info {
  padding-bottom: 1.875rem;
}
.custom__container .about .about__text .about__info {
  text-align: justify;
}
.custom__container .about .about__image img {
  grid-area: image;
  justify-self: center;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1000px) {
  .custom__container .about {
    grid-template-columns: 100%;
    grid-template-areas: "about" "image";
  }
  .custom__container .about .about__text {
    padding-bottom: 2%;
  }
  .custom__container .about .about__text .about__title, .custom__container .about .about__text .about__info {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .custom__container .about .about__text .about__title, .custom__container .about .about__text .about__info {
    font-size: 1.25rem;
  }
  .custom__container .about .about__text .about__info {
    font-size: 0.75rem;
  }
}
/* products */
.custom__container .products {
  min-height: 82vh;
  padding: 3.125rem 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: none;
  gap: 1.25rem 1.875rem;
  justify-items: center;
}
.custom__container .products .products__title {
  grid-column: 1/span 4;
}
.custom__container .products .card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  gap: 0.625rem;
  padding: 0.9375rem;
  border: 1px solid #FFFFFF;
  text-align: center;
}
.custom__container .products .card .product__image img {
  width: 220px;
  height: auto;
  display: block;
  margin: 0 auto;
}
.custom__container .products .card .product__description {
  display: block;
  color: #000000;
}
.custom__container .products .card .product__description:link {
  color: #000000;
}
.custom__container .products .card .product__description:visited {
  color: #000000;
}
.custom__container .products .card .product__description:hover {
  color: #000000;
  font-weight: 700;
  text-decoration: underline;
}
.custom__container .products .card span {
  font-size: 1.25rem;
  font-weight: 700;
}
.custom__container .products .card .product__btn {
  padding: 0.3125rem 0.625rem;
  border: 2px solid #000000;
  border-radius: 7px;
}
.custom__container .products .card .product__btn:link {
  color: #000000;
}
.custom__container .products .card .product__btn:visited {
  color: #000000;
}
.custom__container .products .card .product__btn:hover {
  background-color: #000000;
  color: #FFFFFF;
  text-decoration: none;
}
.custom__container .products .card:hover {
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1130px) {
  .custom__container .products {
    grid-template-columns: repeat(3, 1fr);
  }
  .custom__container .products .products__title {
    grid-column: 1/span 3;
    grid-row: 1/span 1;
  }
  .custom__container .products .products__title h2 {
    font-size: 1.5625rem;
  }
}
@media (max-width: 780px) {
  .custom__container .products {
    grid-template-columns: repeat(2, 1fr);
  }
  .custom__container .products .products__title {
    grid-column: 1/span 2;
    grid-row: 1/span 1;
  }
  .custom__container .products .products__title h2 {
    font-size: 1.5rem;
  }
  .custom__container .products .card .product-image {
    width: 11.875rem;
  }
  .custom__container .products .card span {
    font-size: 1.125rem;
  }
}
@media (max-width: 576px) {
  .custom__container .products .products__title h2 {
    font-size: 1.375rem;
  }
  .custom__container .products .card .product-image {
    width: 8.75rem;
  }
  .custom__container .products .card span {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
