/* contact */

.custom__container {
    .contact {
        min-height: 82vh;
        padding: 3.125rem 0;
        margin-top: 5.25rem;
        @include grid-advance (1fr 60%, none, "contact form", start, 0 3.125rem);

        .contact__text {
            grid-area: contact;

            .contact__title {
                padding-bottom: 1.875rem;
            }

            .contact__info {
                @extend .contact__title;
                text-align: justify;
            }
        }

        .contact__form {
            grid-area: form;
            justify-self: center;
            width: 80%;
            margin: 0 auto;
            padding: 1.25rem;
            background-color: $color-smoke;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

            fieldset {
                border: none;

                div {
                    margin-bottom: .9375rem;

                    label {
                        display: block;
                        font-weight: bold;
                        margin-bottom: 5px;
                        color: $color-charcoalgray;
                    }

                    .field {
                        width: 100%;
                        padding: .75rem;
                        border: 1px solid $color-lightgray;
                        border-radius: 5px;
                        font-size: 1rem;
                        background-color: $color-tertiary;
                        transition: border-color 0.3s ease;

                        &:focus {
                            border-color: #000000;
                            outline: none;
                        }
                    }

                    button {
                        width: 100%;
                        padding: .75rem;
                        background-color: map-get($colors, primaryBtnBgcolor);
                        border: none;
                        border-radius: 7px;
                        color: map-get($colors , secundaryTextcolor);
                        font-size: 1.125rem;
                        font-weight: bold;
                        cursor: pointer;
                        transition: background-color 0.3s ease;

                        &:hover {
                            background-color: map-get($colors , secundaryHovercolor);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1000px) {
    .custom__container {
        .contact {
            grid-template-columns: 100%;
            grid-template-areas: "contact"
                "form";

            .contact__text {
                padding-bottom: 2%;

                .contact__title {
                    text-align: center;
                }
            }
        }
    }
}
