/* Index home */

.custom__container {
    width: min(90%, 90rem);
    margin: 0 auto;

    .home {
        min-height: 82vh;
        margin: 1.25rem 0;
        @include grid-simple (100%, repeat(4, auto), 1.875rem 0);
        text-align: center;

        .carousel {
            width: 100%;
            height: 30.875rem;
            background: url(../img/slideshow.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            @include grid-simple (25% repeat(2, 1fr), 15% 25% 30% 15% 15%, 0 1.25rem);
            padding: 0 1.25rem;

            .carousel__title {
                display: block;
                grid-area: 2 / 1 / 3 / 2;
                font-size: 1.875rem;
                text-align: left;
            }

            .carousel__btn {
                display: block;
                grid-area: 4 / 1 / 5 / 2;
                border: 3px solid map-get($colors , primaryBordercolor);
                background-color: transparent;
                padding: .625rem 2.5rem;
                border-radius: 10px;
                font-size: 1.125rem;
                font-weight: 700;
                align-self: center;
                justify-self: center;
                color: map-get($colors, primaryTextcolor);

                &:hover {
                    background-color: map-get($colors, secundaryBtnBgcolor );
                    text-decoration: none;
                }
            }
        }
    }
}

@media (max-width:1044px) {
    .custom__container {
        .home {
            .carousel {
                .carousel__title {
                    font-size: 1.5625rem;
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width:830px) {
    .custom__container {
        .home {
            .carousel {
                height: 28.375rem;
                grid-template-rows: 25% 15% 30% 15% 15%;

                .carousel__title {
                    font-size: 1.4375rem;
                    grid-area: 1 / 1 / 2 / 4;
                    align-self: center;
                }

                .carousel__btn {
                    grid-area: 4 / 1 / 6 / 5;
                    font-size: 1rem;
                    padding: .5rem 2.1875rem;
                }
            }
        }
    }

}

@media (max-width:480px) {
    .custom__container {
        .home {
            .carousel {
                height: 24.625rem;

                .carousel__btn {
                    font-size: .75rem;
                    padding: .3125rem 1.5625rem;
                }
            }
        }
    }

}

/* featured products */
.custom__container {
    .home {
        .featured-products {
            @include grid-simple (none, repeat(2, auto), 1.25rem);
            font-size: 1.125rem;
            padding: 1.25rem 0;

            .card-grid {
                @include grid-simple (repeat(4, 1fr), none, .9375rem);

                .card {
                    @include flex-advance (column, nowrap, center, center, stretch, .625rem);
                    padding: .9375rem;
                    border: 1px solid $color-tertiary;
                    text-align: center;

                    &:hover {
                        border: 1px solid $color-secundary;
                        border-radius: 5px;
                        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
                    }

                    .product__image img {
                        width: 220px;
                        height: auto;
                        display: block;
                        margin: 0 auto;
                    }

                    .product__description {
                        display: block;
                        color: $color-secundary;

                        &:hover {
                            text-decoration: underline;
                            font-weight: 700;
                        }
                    }

                    span {
                        font-size: 1.25rem;
                        font-weight: 700;
                    }

                }
            }
        }
    }
}

@media (max-width:1044px) {
    .custom__container {
        .home {
            .featured-products {
                h2 {
                    font-size: 1.5625rem;
                }

                .card-grid {
                    grid-template-columns: repeat(3, 1fr);
                }
            }
        }
    }
}

@media (max-width:830px) {
    .custom__container {
        .home {
            .featured-products {
                h2 {
                    font-size: 1.5rem;
                }

                .card-grid {
                    grid-template-columns: repeat(2, 1fr);

                    .card {
                        .product-image img {
                            width: 190px;
                        }

                        span {
                            font-size: 1.125rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:576px) {
    .custom__container {
        .home {
            .featured-products {
                font-size: .75rem;

                h2 {
                    font-size: 1.375rem;
                }

                .card-grid {
                    .card {
                        .product-image img {
                            width: 140px;
                        }

                        span {
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}

/* Featured categories */

.custom__container {
    .home {
        .featured-categories {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;
            background-color: map-get($colors, secundaryBgcolor );
            padding: 2.1875rem;

            .featured-categories__content {
                @include flex-advance (row, wrap, space-between, center, stretch, 1.25rem);

                a {
                    font-size: 1.125rem;
                    color: map-get($colors, secundaryTextcolor);
                }

                .featured-categories__card {
                    @include flex-simple (center,center);
                    width: 15.625rem;
                    height: 15.625rem;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .pic1 {
                    background-image: url(../img/category-pic1.jpg);
                }

                .pic2 {
                    background-image: url(../img/category-pic2.jpg);
                }

                .pic3 {
                    background-image: url(../img/category-pic3.png);
                }

                .pic4 {
                    background-image: url(../img/category-pic4.jpg);
                }
            }
        }
    }
}

@media (max-width:1272px) {
    .custom__container {
        .home {
            .featured-categories {
                .featured-categories__content {
                    .featured-categories__card {
                        width: 14.375rem;
                        height: 14.375rem;
                    }
                }
            }
        }
    }
}

@media (max-width:640px) {
    .custom__container {
        .home {
            .featured-categories {
                .featured-categories__title {
                    h2 {
                        font-size: 1.375rem;
                    }
                }

                .featured-categories__content {
                    .featured-categories__card {
                        width: 13.125rem;
                        height: 13.125rem;
                        a {
                            h4 {
                                font-size: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:580px) {
    .custom__container {
        .home {
            .featured-categories {
                .featured-categories__content {
                    .featured-categories__card {
                        width: 9.375rem;
                        height: 9.375rem;
                        a {
                            h4 {
                                font-size: 1.125rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:480px) {
    .custom__container {
        .home {
            .featured-categories {
                .featured-categories__content {
                    .featured-categories__card {
                        width: 7.5rem;
                        height: 7.5rem;

                        a {
                            h4 {
                                font-size: 1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* featured brands */
.custom__container {
    .home {
        .brands {
            display: flex;
            flex-direction: column;
            gap: 1.25rem;

            .brands__logo {
                @include flex-advance (row, wrap, space-between, center, stretch, 1.25rem);

                a {
                    display: block;
                    padding: 1.25rem;
                    background-color: map-get($colors, tertiaryBgcolor);
                    border-radius: 10px;

                    img {
                        width: 11.25rem;
                        height: 6.25rem;
                        object-fit: contain;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:1330px) {
    .custom__container {
        .home {
            .brands {
                .brands__logo {
                    justify-content: center;
                    column-gap: 3.125rem;
                }
            }
        }
    }
}

@media (max-width:640px) {
    .custom__container {
        .home {
            .brands {
                .brands__title {
                    font-size: 1.375rem;
                }

                .brands__logo {
                    justify-content: center;
                    column-gap: 1.25rem;

                    a {
                        img {
                            width: 10rem;
                            height: 5rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width:480px) {
    .custom__container {
        .home {
            .brands {
                .brands__logo {
                    a {
                        padding: .625rem;

                        img {
                            width: 7.5rem;
                            height: 3.125rem;
                        }
                    }
                }
            }
        }
    }
}