// Mapa de colores

$colors: (
primaryBgcolor: $color-primary,
secundaryBgcolor: $color-gray,
tertiaryBgcolor: $color-smoke,
primaryTextcolor:  $color-secundary,
secundaryTextcolor: $color-tertiary,
primaryBordercolor: $color-secundary,
secundaryBordercolor: $color-lightgray,
primaryLinkHovercolor: $color-tertiary,
secundaryLinkHovercolor: $color-secundary,
primaryHovercolor: $color-secundary,
secundaryHovercolor: $color-charcoalgray,
primaryBtnBgcolor: $color-secundary,
secundaryBtnBgcolor: $color-tertiary
);