// Variables de colores
$primaryBgcolor: #7A163C;
$secundaryBgcolor: #D9D9D9;
$tertiaryBgcolor: #747474;
$primaryTextcolor: #000000;
$secundaryTextcolor: #ffffff;
$primaryBordercolor: #ddd;


// $color-primary: #7A163C; ok
// $color-secundary: #000000; ok
// $color-tertiary: #FFFFFF; ok
// $color-Smoke: #F2F2F2; ok
// $color-gray: #D9D9D9; ok
// $color-lightgray: #ddd; ok
// $color-darkgrey: #747474; 
