// Colores de Fondo
$primaryBgcolor: #7A163C;
$secundaryBgcolor: #D9D9D9;

// Colores de Texto
$primaryTextcolor: #000000;
$secundaryTextcolor: #ffffff;

// Tamaños de Fuente
$font-size-sl: 0.875rem;
$font-size-bs: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 2rem;
$font-size-xxl : 2.5rem;