// variables

$color-primary: #7A163C;
$color-secundary: #000000;
$color-tertiary: #FFFFFF;
$color-smoke: #F2F2F2;
$color-gray: #D9D9D9;
$color-lightgray: #ddd;
$color-darkgray: #747474;
$color-charcoalgray: #3c3c3c;