/* footer */
.footer {
    background-color: map-get($colors, primaryBgcolor);
    height: 8vh;
    color: map-get($colors, secundaryTextcolor);
    @include flex-simple (center, center);

    p {
        padding: 0;
        margin: 0;
    }
}